services:
  api:
    build:
      context: .
      # Use dev Dockerfile
      dockerfile: Dockerfile.dev
    container_name: api-dev
    env_file: .env
    ports:
      - '3000:3000'
    volumes:
      - .:/app # live code mount
      - /app/node_modules # keep node_modules inside container
    depends_on:
      - db

  db:
    image: postgres:16
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
